{% extends "Home/Freelancer/home_layout.html.twig" %}
{% block homecontent %}
    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-container">

                    <!-- Keywords -->
                    <div class="sidebar-widget">
                        <h3>Keywords</h3>
                        <div class="keywords-container">
                            <div class="keyword-input-container">
                                <input type="text" class="keyword-input" placeholder="e.g. task title"/>
                                <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                            </div>
                            <div class="keywords-list"><!-- keywords go here --></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-8 content-left-offset">

                <div class="notify-box margin-top-15">
                    <div class="switch-container">
                        <label class="switch"><input type="checkbox"></label>
                    </div>

                    <div class="sort-by">
                        <span>Sort by:</span>
                        <select class="selectpicker hide-tick">
                            <option>Relevance</option>
                            <option>Newest</option>
                            <option>Oldest</option>
                            <option>Random</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <!-- Dashboard Box -->
                    <!-- <div class="col-xl-6"> -->
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-face"></i>My Note</h3>
                            <br>

                <div>

                    {% for n in self_notes_list %}
                            <div class="task-listing-details">
                                <!-- Details -->
                                <div class="task-listing-description">
                                    <h3 class="task-listing-title">{{ n.priority}}</h3>
                                    <h3 class="task-listing-title">{{ n.noteText}}</h3>
                                </div>
                            </div>
                        <a href="{{ path('update_self_note', {'id': n.id}) }}" class="button ripple-effect margin-top-5 margin-bottom-10">Edit my Note</a>
                        <a href="{{ path('delete_self_note', {'id': n.id}) }}" class="button ripple-effect margin-top-5 margin-bottom-10">Delete my Note</a>
                    {% endfor %}
                </div>
                            <a href="{{ path('create_self_note')}}" class="button ripple-effect margin-top-5 margin-bottom-10">Add a Note</a>
                 </div>
                <!-- Tasks Container / End -->

            </div>
        </div>
    </div>

{% endblock %}