<!doctype html>
<html lang="en">

<head>

	<title>FooBar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/colors/blue.css') }}">

</head>

<body>
<div class="container">
	<div class="col-xl-12">
	  <div class="panel panel-primary">

		  <section class="comments">
			  <h3 class="margin-top-45 margin-bottom-0">Comments</h3>

			      <div class="blog-post-content">
                      {% for i in comment %}
					  <div class="panel-body">
						  <ul class="widget-tabs">
							  <li>
								  <div class="avatar">
									  <img src="{{ asset('images/user-avatar-placeholder.png') }}" alt="">
								  </div>

								  <div class="comment-content">
									  <div class="comment-by">{{ i.name }}
										  <span class="date"> {{ "now"|date("d/m/Y, H:m" ) }}</span>
										  <a href="{{ path('blog_addComment',{'idArticle':i.id}) }}" class="reply">Reply</a>
                                          {{ i.commentContent }} <br>
										  <a href="{{ path('blog_delete',{'id':i.id}) }}" class="icon-feather-trash">Delete</a>
										  <a href="{{ path('blog_editComment',{'id':i.id}) }}" class="icon-feather-edit">Edit</a>
									  </div>
								  </div>

								  <ul>

									  <li>
										  <div class="avatar"><img src="{{ asset('images/user-avatar-placeholder.png') }}" alt=""></div>
										  <div class="comment-content"><div class="arrow-comment"></div>
											  <div class="comment-by">{{ i.name }}
												  <span class="date"> {{ "now"|date("d/m/Y, H:m" ) }}</span>
												  <a href="{{ path('blog_addComment',{'idArticle':i.id}) }}" class="reply"> Reply</a>
                                                  {{ i.commentContent }} <br>
												  <a href="{{ path('blog_delete',{'id':i.id}) }}" class="icon-feather-trash">Delete</a>
												  <a href="{{ path('blog_editArticle',{'id':i.id}) }}" class="icon-feather-edit">Edit</a>
											  </div>


										  </div>
									  </li>

								  </ul>
							  </li>
						  </ul>
					  </div>
						  <a href="{{ path('blog_addComment',{'idArticle':i.id}) }}" class="button icon-feather-plus-square">Comment</a>
                      {% endfor %}
				  </div>
		  </section>

	  </div>
	</div>
</div>
</body>
</html>